.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BookLayout {
  display: flex;
  align-items: center;
  width: 700px;
  background: cornsilk;
}  

.BookInformation {
  text-align: left;
  padding-left: 10px;
}

select {
  width: 80%;
  height: 2.5rem;
  font-size: 25px;
  margin-bottom: 10px;
}

div.App div {
  width: 80%;
}